{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Portfolio Management System (PMS)</h1>
<p>
    PMS or Portfolio Management System is a professional service where qualified and experienced<br>
    portfolio managers backed by a research team manage equity portfolios on behalf of clients instead of<br>
    clients managing themselves.
</p>

<h2>Types Of Portfolio Management</h2>
<h2>Discretionary Portfolio Management</h2>
<h3>
    A discretionary manager is given full flexibility to make decisions for the investor.<br>
    While the individual goals, risk appetite and time-frame are taken into consideration, the<br>
    manager adopts the appropriate strategy which he thinks is the best suiting the investment policy statement.<br>
    The fees for such managed funds are generally higher because of higher involvement in decision making as well<br>
    as more efforts by the manager.<br>
    Once the cash has been handed to the professional, the investor sits back and trusts that the profits will roll in.
</h3>

<h2>Non-Discretionary Portfolio Management</h2>
<h3>
    The non-discretionary manager is more like an advisor than a portfolio manager himself.<br>
    He advises the investor in which routes are best to take. The risks and rewards are cleared<br>
    mentioned in the advisory note while the discretion to take action is totally with the investor.<br>
    Only once the manager has been given the go ahead, the portfolio manager takes the appropriate<br>
    action on the investor's behalf.<br>
</h3>

{% endblock %}